{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["eslint-plugin-import", "jest"],
    "rules": {
			"indent": ["warn", "tab", {"SwitchCase": 1}],
			"no-tabs": 0,
			"no-console": "warn",
			"quotes": ["error", "single"],
			"semi": ["error", "always"],
			"comma-dangle": "error",
			"newline-before-return": "error",
			"no-cond-assign": ["error", "always"],
			"object-curly-spacing": ["error", "never"],
			"no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }]
    },
    "env": {
		"node": true,
		"es6": true,
		"jest/globals": true
	}
}